*{
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: #98759526;
}

.btnInline {
  display: inline-block; 
  margin: .5rem;
  padding: .5rem;
  border-radius: 10px;
}

.btn {
  background-color: #987595;
  border: 1px solid #987595;
  margin: .5rem;
  padding: .5rem;
  border-radius: 10px;
}

.title {
  font-weight: bold;
}




